.page-header {
  background-image:
    linear-gradient(rgba(0, 30, 60, 0.45), rgba(0, 30, 60, 0.45)),
    url('https://mgretajulia.github.io/villa-carlotta/assets/home/villa-carlotta3.png') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
